# Node
node_modules/
dist/
dist-ssr/
*.local

# React
frontend/node_modules/

# Python
backend/venv/
backend/__pycache__/

# Banco
*.db
*.sqlite3

# Planilhas
*.xlsx
*.xls

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db